<div class = "errors">
  <% if form.object.errors.any? %>
        <h4><%= pluralize(form.object.errors.count, "error") %> prohibited this message from being saved:</h4>
        <ul>
          <% form.object.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    <% end %>
  </div>