<h2><%= link_to "New inbox", new_inbox_path %></h2>

<h3>Inboxes:<%= @inboxes.count %></h3>


<div id="inboxes">
  <% @inboxes.each do |inbox| %>
    <%= render inbox %>
    <hr>
  <% end %>
</div>



